@import '~scss/imports';

.button {
	height: baseline(7);
	background: $alto;
	color: $horizon;
	font-size: 16px;
	padding: 16px;
	cursor: pointer;
	transition: background 0.3s;

	&:hover {
		background: $wild-sand;
	}
}
