@import 'break-points';
@import '../imports';

html,
body {
	margin: 0;
	height: 100%;
	background: $wild-sand;
	background-size: 60%;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content-wrapper {
	flex-grow: 2;
}

main {
	overflow: hidden;
}

.max-wrapper {
	margin: 0 auto;
	padding: 0;
	max-width: baseline(187);

	@include break-point(sm) {
		padding: 0 baseline(2);
	}
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	box-sizing: border-box;
	padding-right: baseline(2);
	padding-left: baseline(2);

	& > .container-fluid {
		padding: 0;
	}
}

.row {
	margin-right: - baseline(2);
	margin-left: - baseline(2);
}

textarea:focus,
input:focus,
button:focus {
	outline: none;
}

.container-fluid {
	padding-right: baseline(2);
	padding-left: baseline(2);
}

.red-button {
	background: $chestnut-rose;
	height: baseline(6);
	white-space: nowrap;
	color: white;
	font-weight: 400;
	text-decoration: none;
	box-sizing: border-box;
	display: block;
	transition: background 0.3s;
	font-size: 16px;
	padding: 16px;

	&:hover {
		color: white;
		background: $chestnut-rose-hover;
	}
}

input:required {
	box-shadow: none;
}

textarea:required {
	box-shadow: none;
}
