//---------------------------------------
//** Desc: base colours used through out site
//** Contributors: Daniel Peterson
//** Created by Dax on 26/01/16.
//---------------------------------------

$chestnut-rose: #d04a5d;
$chestnut-rose-hover: lighten(#d04a5d, 5%);
$blue-zodiac: #0f253e;
$horizon: #5e8ea8;
$glacier: #77a7c0;
$charcoal: #484848;
$emperor: #4f4c4d;
$dove-gray: #6b6b6b;
$gray: #838383;
$alto: #d3d2d2;
$gallery: #eaeaea;
$wild-sand: #f4f4f4;
