@import '../imports';

/*
|--------------------------------------------------
| Variables
|--------------------------------------------------
*/

//baseline
$baseFontSize: baseline(2);
$default-margin: baseline(2);

//mobile font-sizes
$h1-mobile-font-size: 32px !default;
$h2-mobile-font-size: 26px !default;
$h3-mobile-font-size: 22px !default;
$h4-mobile-font-size: 18px !default;
$h5-mobile-font-size: 16px !default;

/*
|--------------------------------------------------
| Mixins
|--------------------------------------------------
*/

@mixin font-style($font-size, $desktop-size) {
	font-size: $font-size;
	font-weight: $medium;
	@include break-point(md) {
		font-size: $desktop-size;
	}
	margin: 0;
	@content;
}

/*
|--------------------------------------------------
| Typography
|--------------------------------------------------
*/

body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: baseline(2);
	font-weight: $medium;
	color: $horizon;
}

.h1,
h1 {
	@include font-style(36px, 36px);
	margin-bottom: baseline(3);
	line-height: baseline(6);
}

.h2,
h2 {
	@include font-style(24px, 24px);
	margin-bottom: baseline(3);
	line-height: baseline(4);
}

.h3,
h3 {
	@include font-style(20px, 20px);
	margin-bottom: baseline(3);
	line-height: baseline(4);
}

.h4,
h4 {
	@include font-style(18px, 18px);
	margin-bottom: baseline(3);
	line-height: baseline(3);
}

.h5,
h5 {
	@include font-style(16px, 16px);
	margin-bottom: baseline(3);
	line-height: baseline(3);
}

.no-margin {
	margin: 0;
}

p,
pre,
address,
ul,
ol,
.gform_confirmation_message_1 {
	margin: 0 0 $default-margin 0;
	padding: 0;
}

ul,
ol {
	margin-left: baseline(4);
	margin-bottom: baseline(3);
}

table {
	margin: $default-margin 0;

	th,
	td {
		padding-top: 0;
		padding-bottom: 0;
	}
}

li ul,
li ol {
	margin-top: 0;
}

a {
	color: $chestnut-rose;
	text-decoration: underline;
	transition: color, 0.3s;

	&:hover {
		color: $chestnut-rose-hover;
	}
}

a.blue {
	color: $glacier;

	&:hover {
		color: $horizon;
	}
}

p,
code,
li,
time,
label {
	font-size: $baseFontSize;
	-webkit-font-smoothing: antialiased;
	line-height: 24px;
}

time {
	display: block;
}

li {
	margin-bottom: baseline(1);

	&:last-child {
		margin-bottom: 0;
	}
}
