@import '~scss/imports';

.page {
	.content {
		margin-top: baseline(5);
		margin-bottom: baseline(5);
	}

	.navigation {
		@include break-point(md) {
			margin-top: baseline(5);
			margin-bottom: baseline(5);
		}
	}
}
