@import '~scss/imports';

.banner {
	position: relative;
	background-size: cover;
	background-position: center;

	.inner-banner {
		@include break-point(md) {
			display: flex;
		}
	}

	.banner-title {
		color: white;
		height: vw(200, sm);
		font-size: vw(24, sm);
		line-height: vw(32, sm);
		font-weight: 300;
		display: flex;
		align-content: center;
		justify-content: center;
		margin-bottom: 0;

		@include break-point(sm) {
			height: baseline(40);
			font-size: 36px;
			line-height: 48px;
			margin-right: baseline(2);
		}
	}

	.inner-content {
		align-self: center;
	}

	.banner-links {
		overflow: hidden;

		@include break-point(md) {
			align-self: center;
			min-width: baseline(34);
		}
	}

	.list-tile-wrapper {
		width: 100vw;
		margin-left: - baseline(2);
		@include break-point(md) {
			width: auto;
			margin-left: auto;
			display: flex;
			align-content: center;
			justify-content: center;
			height: baseline(40);
		}
	}
}
