@import '~scss/imports';

.calendar-tile {
	margin-top: baseline(5);
	margin-bottom: baseline(5);

	.calendar {
		margin: 0;
		padding: 0;
	}

	.entry {
		padding-top: 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid $gallery;
		margin: 0;
		list-style: none;

		&:last-of-type {
			border-bottom: none;
		}
	}

	.link {
		text-decoration: none;
		display: flex;
		align-items: center;
	}

	.container-fluid {
		list-style: none;
	}

	.title {
		font-weight: 700;
		align-self: flex-start;
		color: $horizon;
		margin-left: baseline(2);
	}
}
