@import '~scss/imports';

.case-study-tile {
	margin-top: baseline(5);
	margin-bottom: baseline(5);

	.case-studies {
		@include break-point(md) {
			display: flex;
		}
	}

	.case-study {
		width: 50%;
	}

	.title {
		margin-bottom: baseline(2);
	}
}
