@import '~scss/imports';

.contact-us {
	margin-top: baseline(5);
	margin-bottom: baseline(5);

	.list {
		margin: 0;
		padding: 0;
	}
	.item {
		list-style: none;
		font-weight: 700;
	}

	.link {
		font-weight: 700;
	}
}
