@import '~scss/imports';

.footer {
	border-top: 1px solid $alto;

	.footer-cols {
		margin-top: baseline(5);
		margin-bottom: baseline(5);

		@include break-point(sm) {
			float: none;
		}

		@include break-point(md) {
			float: left;
		}
	}
}
