@import '~scss/imports';

.header {
	z-index: 10;
	position: relative;
	background: white;

	.inner-header {
		display: flex;
		height: 100%;
	}

	.title {
		display: flex;
		align-items: center;
		flex-grow: 2;
		height: 72px;
		margin-bottom: 0;

		%sections {
			line-height: baseline(2);
			display: block;
			height: 16px;
			margin: 0;
			flex-grow: 2;
		}

		&-section-1 {
			@extend %sections;
			font-weight: 900;
			font-size: 16px;
			color: $glacier;
			letter-spacing: 1px;
		}

		&-section-2 {
			@extend %sections;
			font-weight: 400;
			font-size: 13px;
			color: $dove-gray;
			letter-spacing: 1px;
		}

		a {
			text-decoration: none;
		}
	}

	.logo {
		display: block;
		height: 44px;
		position: relative;
	}

	.text-wrapper {
		padding: 6px;
		margin-left: 4px;
	}

	.menu {
		width: 64px;
		box-sizing: border-box;
		border: none;
		border-left: 1px solid $alto;
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: - baseline(2);
	}

	.enquiry {
		flex-direction: column;
		justify-content: center;
		padding-right: baseline(4);
		display: none;

		p {
			font-size: baseline(2);
			margin: 0;
			text-align: right;
			color: $dove-gray;
		}

		a {
			font-size: 20px;
			line-height: baseline(3);
			white-space: nowrap;
			font-weight: 700;
		}
	}

	.make-enquiry {
		display: none;
		justify-content: center;
		flex-direction: column;
	}

	.desktop-header-wrapper {
		height: baseline(4);
		display: none;
		overflow: visible;
	}

	.mobile-header {
		background: white;
		padding: 0 16px;
		position: fixed;
		display: flex;
		width: 100%;
		z-index: 1;
		box-sizing: border-box;
	}

	.desktop-inner-head {
		display: flex;
		width: 100%;
	}

	.sticky-header {
		top: -64px;
		position: fixed;
		width: 100%;
		z-index: 1;
		background: $horizon;
		transition: transform 0.3s, opacity 0.3s;
		opacity: 0;
		display: block;
		will-change: opacity;

		&.sticky {
			opacity: 1;
			transform: translateY(60px);
		}

		.desktop-header {
			margin-top: 0;
			display: none;

			.col-xs-12 {
				height: 64px;
			}
		}
	}
}

.header {
	&.desktop-mode {
		padding-top: baseline(2);

		.sticky-header {
			.desktop-header {
				display: block;
			}
		}

		.mobile-nav {
			display: none;
		}

		.search {
			position: absolute;
			width: auto;
		}

		.title {
			height: 88px;

			%sections {
				height: 24px;
				line-height: baseline(3);
			}

			&-section-1 {
				font-size: 22px;
				margin: 0 0 4px 0;
			}

			&-section-2 {
				font-size: 16px;
				line-height: 16px !important;
				vertical-align: top;
				text-decoration: none;
			}
		}

		.logo {
			height: 88px;
		}

		.menu {
			display: none;
		}

		.enquiry {
			display: flex;
		}

		.make-enquiry {
			display: flex;
		}

		.desktop-header-wrapper {
			display: block;
		}

		.mobile-header {
			display: none;
		}

		.desktop-header {
			display: block;
		}
	}

	form.search {
		height: 64px;
	}

	&:not(.desktop-mode) {
		.container-fluid,
		.col-xs-12,
		.col-sm-12,
		.col-md-12,
		.col-lg-12,
		.col-xl-12 {
			padding-right: 16px;
			padding-left: 16px;
		}

		.row {
			margin-right: -16px;
			margin-left: -16px;
		}
	}
}
