@import '~scss/imports';

.header {
	z-index: 1;
	position: relative;

	@include break-point(md) {
		padding-top: baseline(2);
	}

	.inner-header {
		display: flex;
		height: 100%;
	}

	.title {
		display: flex;
		align-items: center;
		flex-grow: 2;
		height: 64px;
		margin-bottom: 0;

		@include break-point(md) {
			height: 88px;
		}

		%sections {
			line-height: baseline(2);
			display: block;
			height: 12px;
			margin: 0;
			flex-grow: 2;

			@include break-point(md) {
				height: 24px;
				line-height: baseline(3);
			}
		}

		&-section-1 {
			@extend %sections;
			font-weight: 900;
			font-size: 12px;
			color: $glacier;
			letter-spacing: 1px;

			@include break-point(md) {
				font-size: 22px;
				margin: 0 0 4px 0;
			}
		}

		&-section-2 {
			@extend %sections;
			font-weight: 400;
			font-size: 9px;
			color: $dove-gray;
			letter-spacing: 1px;

			@include break-point(md) {
				font-size: 16px;
				line-height: 16px !important;
				vertical-align: top;
			}
		}
	}

	.logo {
		display: block;
		height: 40px;
		position: relative;

		@include break-point(md) {
			height: 88px;
		}
	}

	.text-wrapper {
		padding: 6px;
		margin-left: 4px;
	}

	.menu {
		width: 64px;
		box-sizing: border-box;
		border: none;
		border-left: 1px solid $alto;
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: - baseline(2);

		@include break-point(md) {
			display: none;
		}
	}

	.enquiry {
		flex-direction: column;
		justify-content: center;
		padding-right: baseline(4);
		display: none;

		@include break-point(md) {
			display: flex;
		}

		p {
			font-size: baseline(2);
			margin: 0;
			text-align: right;
			color: $dove-gray;
		}

		a {
			font-size: 20px;
			line-height: baseline(3);
			white-space: nowrap;
			font-weight: 700;
			color: $glacier;
		}
	}

	.make-enquiry {
		display: none;
		justify-content: center;
		flex-direction: column;

		@include break-point(md) {
			display: flex;
		}

		.button {
			background: $chestnut-rose;
			height: baseline(6);
			white-space: nowrap;
			color: white;
			font-weight: 400;
			text-decoration: none;
			box-sizing: border-box;
			display: block;
		}
	}

	.desktop-header-wrapper {
		height: baseline(4);
		display: none;

		@include break-point(md) {
			display: block;
		}
	}

	.sticky-header {
		top: -76px;
		position: fixed;
		width: 100%;
		z-index: 1;
		background: $glacier;
		transition: transform 0.3s, opacity 0.3s;
		opacity: 0;
		display: none;

		&.sticky {
			opacity: 1;
			transform: translateY(60px);
		}
	}

	.desktop-header {
		margin: baseline(2) 0 0;

		.nav {
			margin: 0;
			background: $horizon;
			position: relative;
			height: 60px;

			ul {
				height: 100%;
				display: flex;
				flex-wrap: wrap;
				padding: 0 215px 0 0;
				margin: 0;
			}

			& > ul > li:first-of-type {
				a {
					padding-left: baseline(4);
				}
			}

			li {
				margin: 0;
				height: 100%;
				position: relative;

				li {
					box-sizing: border-box;
					width: calc(100% + 32px);
					border-bottom: 1px solid $wedgewood;
				}

				ul {
					background: $bismark;
					height: auto;
					padding: 0 32px 0 0;
				}

				& > ul {
					position: absolute;
					margin: 0;
					display: none;

					a {
						color: white;
						padding: baseline(2);
					}

					ul {
						left: 100%;
						top: 0;
					}
				}

				&:hover > ul {
					display: block;
				}
			}

			.search {
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				border-left: solid 1px rgba(255, 255, 255, 0.15);
				display: flex;
				align-items: center;

				input {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					height: 100%;
					padding: baseline(2);
					box-sizing: border-box;
					border: 0;
					background: transparent;
					font-size: 14px;
					color: white;
				}

				::placeholder {
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: white;
					opacity: 1; /* Firefox */
				}

				::-ms-input-placeholder {
					color: white;
				}

				.icon {
					height: 20px;
					padding-left: baseline(2);
				}
			}

			a {
				color: white;
				text-decoration: none;
				font-size: 14px;
				font-weight: 400;
				padding: baseline(2) baseline(4) baseline(2) 0;
				display: inline-block;
				position: relative;
				white-space: nowrap;

				&:after {
					content: '';
					display: block;
					height: 4px;
					transform: translateY(4px);
				}

				&.active:after {
					box-shadow: 0 -2px 0 0 lighten(white, 20) inset;
				}

				&:hover {
					&:after {
						box-shadow: 0 -2px 0 0 lighten(white, 20) inset;
					}
				}
			}
		}
	}
}
