@import '~scss/imports';

.list-tile {
	background: $blue-zodiac;
	padding-top: 32px;

	.container-fluid {
		padding-right: 16px;
		padding-left: 16px;
	}

	h2 {
		font-size: 16px;
		font-weight: bold;
		color: white;
	}

	ul {
		padding: 0;
		margin: 0 0 24px 0;
	}

	li {
		list-style: none;
	}

	a {
		color: white;
		text-decoration: none;
		position: relative;

		&:after {
			content: '';
			width: 100%;
			display: inline-block;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: -6px;
			border-bottom: 1px solid transparent;
			transition: border-bottom 0.3s;
		}

		&:hover {
			color: white;

			&:after {
				border-bottom: 1px solid white;
			}
		}
	}
}
