@import '~scss/imports';

.mobile-nav {
	width: 100%;
	background: $wedgewood;
	position: fixed;
	height: 100%;
	z-index: 2;

	.search {
		height: 56px;
		border: solid 1px rgba(255, 255, 255, 0.15);
		display: flex;
		align-items: center;

		input {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			height: 100%;
			padding: baseline(2);
			box-sizing: border-box;
			border: 0;
			background: transparent;
			font-size: 14px;
			color: white;
		}

		::placeholder {
			/* Chrome, Firefox, Opera, Safari 10.1+ */
			color: rgba(255, 255, 255, 0.5);
			opacity: 1; /* Firefox */
		}

		::-ms-input-placeholder {
			color: white;
		}

		.icon {
			height: 20px;
			padding-left: baseline(2);
		}

		margin-bottom: 24px;
	}

	.close-wrapper {
		text-align: right;
	}

	.button {
		background: none;
		padding: 0;
		margin: 0;
		border: 0;
	}

	.close-icon {
		height: 16px;
		width: 16px;
		color: white;
		padding: 24px 0 24px 16px;
	}

	ul,
	li {
		padding: 0;
		margin: 0;
	}

	ul > li > ul {
		margin-left: 16px;

		a {
			color: $alto;
			padding-top: 0;
		}
	}

	ul > li > ul > li ul {
		display: none;
	}

	a {
		color: white;
		text-decoration: none;
		line-height: 24px;
		padding: 16px 0;
		display: inline-block;

		&:after {
			content: '';
			display: block;
			height: 4px;
			transform: translateY(2px);
		}

		&.active {
			font-weight: 700;
		}

		&.active:after {
			box-shadow: 0 -2px 0 0 lighten(white, 20) inset;
		}

		&:hover {
			&:after {
				box-shadow: 0 -2px 0 0 lighten(white, 20) inset;
			}
		}
	}
}
