@import '~scss/imports';

.panel-tile {
	text-align: left;
	background: $gallery;
	padding: 0;

	@include break-point(sm) {
		background: none;
	}

	@include break-point(md) {
		background: none;
		//margin: baseline(6) 0;
	}

	p {
		font-weight: 400;
	}

	ul {
		padding: 0;
		margin: 0;

		@include break-point(sm) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			margin: 0 baseline(1);
		}
	}

	li {
		list-style: none;
		margin-bottom: 0;
		border-bottom: 1px solid $alto;

		@include break-point(sm) {
			padding: baseline(2) 0;
			width: vw(baselineCalc(18), sm);
			height: vw(baselineCalc(18), sm);
			border: none;
			margin: 0 baseline(1);
		}

		@include break-point(md) {
			padding: baseline(2) 0;
			width: vw(baselineCalc(21), md);
			height: vw(baselineCalc(21), md);
			max-height: baseline(42);
			max-width: baseline(42);
		}

		&:last-of-type {
			border-bottom: none;
		}
	}

	a {
		padding: 16px 16px;
		display: flex;
		text-decoration: none;
		color: $dove-gray;
		align-items: center;

		@include break-point(sm) {
			padding: 0;
			height: 100%;
			border: 1px solid $alto;
			box-sizing: border-box;
			flex-direction: column;
			align-content: space-between;
			color: $dove-gray;
		}
	}

	.image-wrap {
		@include break-point(sm) {
			flex-grow: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $gallery;
			width: 100%;
		}
	}

	.image {
		height: 64px;
		width: 64px;
		margin-right: 16px;
		background: $alto;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 32px;
		max-width: 128px;
		max-height: 128px;

		@include break-point(sm) {
			margin-right: 0;
			width: vw(baselineCalc(7), sm);
			height: vw(baselineCalc(7), sm);
			border-radius: vw(baselineCalc(7), sm);
		}

		@include break-point(md) {
			margin-right: 0;
			width: vw(baselineCalc(8), md);
			height: vw(baselineCalc(8), md);
			border-radius: vw(baselineCalc(8), md);
		}
	}

	img {
		height: baseline(4);
		display: inline-block;
		max-width: 50px;
		max-height: 50px;

		@include break-point(sm) {
			height: vw(baselineCalc(3), sm);
		}

		@include break-point(md) {
			height: vw(baselineCalc(3.5), md);
		}
	}

	.title {
		@include break-point(sm) {
			height: 56px;
			background: $alto;
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
		}
	}
}
